<!-- Clave de APi: AIzaSyC7IwavXW99KRDvRvKonYikujuNfQIX1bE -->

<!-- Uploads playlistId: UUuaPTYj15JSkETGnEseaFFg -->
<h1 class="mt-5 font-weight-light">YouTube Videos</h1>
<hr>


<div class="row row-cols-1 row-cols-md-4">
    <div class="col mb-4" *ngFor="let video of videos">
        <div class="card h-100">
            <img [src]="video.thumbnails.high.url" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">{{video.title}}</h5>
                <p class="card-text">
                    <strong>Autor:</strong> {{video.channelTitle}}
                </p>
                <p class="card-text">
                    <strong>Publicado:</strong> {{video.publishedAt | date}}
                </p>
                <button class="btn btn-outline-primary btn-block" (click)="mostrarVideo(video)">
                    Ver Video ...
                </button>
            </div>
        </div>
    </div>
</div>
<div class="row mt-5 mb-5 text-center">
    <div class="col">
        <button class="btn btn-primary btn-lg">
            Siguente página
        </button>

    </div>

</div>

<!-- <div class="card-columns">
    <div class="card" *ngFor="let video of videos">
        <img [src]="video.thumbnails.high.url" class="card-img-top">
        <div class="card-body">
            <h5 class="card-title">{{video.title}}</h5>
            <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
        </div>
    </div>
</div> -->